<%= render 'tmp/header' ,{s:""}%>
<main class="main_flame" oncontextmenu="return false;">
    <div class="main_inner">
        <div>
            <div class="main_container_n" style="padding:20px 0;">
            	<% ua = request.env["HTTP_USER_AGENT"]
            	if(ua.include?('Mobile')|| ua.include?('Android')) then %>
            		<div class="sub_container">
						<div class="music_intbox">
							<% if @lyric["result"]["jucket"].nil? %>
								<%= image_tag 'noimage.png', class: 'noimage' %>
							<% else %>
								<%= image_tag @lyric["result"]["jucket"], class: '' , alt: "#{@lyric["result"]["artist"]}の#{@lyric["result"]["title"]}のジャケット"%>
							<% end %>
						</div>
					</div>
					<div class="sub_container">
						<%= render 'tmp/side/share' %>
					</div>
					<h2 class="lyrich2"><span>歌詞</span></h2>
            	<% else %>
					<h2 class="lyrich2"><span>歌詞</span></h2>
		            <div class="kasiData_box">
		                <div class="lyristDatabox">
		                    <div class="left">
													<% if @lyric["result"]["jucket"].nil? %>
														<%= image_tag 'noimage.png', class: 'noimage' %>
													<% else %>
														<%= image_tag @lyric["result"]["jucket"], class: '' , alt: "#{@lyric["result"]["artist"]}の#{@lyric["result"]["title"]}のジャケット"%>
													<% end %>
		                    </div>
		                    <div class="right">
		                        <div style="display:flex;">曲名：<h1><%= @lyric["result"]["title"] %></h1></div>
		                        <h4>アーティスト：<a href="/element/artist/"><%= @lyric["result"]["artist"] %></a></h4>
		                        <p>作詞：<%= @lyric["result"]["lyricist"] %></p>
		                        <p>作曲：<%= @lyric["result"]["composer"] %></p>
		                    </div>
		                </div>
		            </div>
		        <% end %>
	            <div class="lylics_box">
                	<%= @lyric["result"]["lyrics"].html_safe %>
            	</div>
            </div>
            
            <% if(ua.include?('Mobile')|| ua.include?('Android')) then %>
				<div class="sub_container" style="padding-top:20px;">
					<%= render 'tmp/side/pop_lyList', {lyrics: @poplyric['result'], label: 'おすすめ楽曲'} %>
				</div>
            <% else %>
	            <div class="main_container_n">
		            <div class="kanren_musicList_block">
					    <div class="msline flex-jus-between"><h2>関連楽曲</h2><a href="/lyrics">もっと見る</a></div>
					    <div class="bottom">
					        
					    </div>
					</div>
				</div>
			<% end %>
        </div>
        <% if(ua.include?('Mobile')|| ua.include?('Android')) then %>
        <% else %>
	        <div class="sidebar">
				<%= render 'tmp/sidebar',{status:"lyric"} %>
	        </div>
	    <% end %>
    </div>
</main>


<%= render 'tmp/footer' %>
