<div class="flex-jus-between fns-h2"><h2><%= label %></h2><a href="/search?model=lyric">もっと見る</a></div>
<div class="flex scroll-x" style="width:100%">
  <% lyrics.each do |lyda| %>
    <a class="sm-newlyric-container " href="/lyrics/<%= lyda["key"] %>">
      <div class="juc-image">
        <% if lyda["jucket"].blank? %>
          <%= image_tag 'noimage_square.png', class: 'noimage' %>
        <% else %>
          <%= image_tag lyda["jucket"].to_s, class: '' , alt: "#{lyda["artist"]}の#{lyda["title"]}のジャケット" %>
        <% end %>
      </div>
          <div class="lyric-con">
              <div class="fas-cont1 scroll-x"><%= lyda["title"] %></div>
              <div class="fas-cont2 scroll-x"><%= lyda["artist"] %></div>
              <div class="fas-cont2 sm-heart"><i class="far fa-heart"></i><%= lyda["fav"]%></div>
          </div>
    </a>
  <% end %>
</div>