<%= render 'tmp/header' ,{s:""}%>
<main class="main_flame">
  <div class="main_inner">
    <div class="main_container_no_c">
      <div class="tag_container flex">
        <div class="image_container">
          <% if @tag['thumbnail'].nil? %>
            no image
          <% else %>
            <%= image_tag @tag['thumbnail'], class: '' , alt: "#{@tag['name']}のサムネイル"%>
          <% end %>
        </div>
        <div class="tag_container_inf">
          <h1><%= @tag['name'] %></h1>
          <p>投稿 <%= @tag['articles'].length %>件 楽曲 <%= @tag['lyrics'].length %>曲</p>
          <p>トータルページビュー <%= @tag['articles'].length %>PV</p>
        </div>
      </div>
      <div class="main_container_no_c flex sm_tag_container">
        <div class="tag_lyrics_list">
          <% if(!@ua.include?('Mobile') && !@ua.include?('Android')) then %>
            <%= render 'tag/lyrics_list' ,{lyrics: @tag['lyrics'], label: '関連楽曲'}%>
          <% else %>
            <%= render 'tag/sm_lyrics_list' ,{lyrics: @tag['lyrics'], label: '関連楽曲'}%>
          <% end %>
        </div>
        <div class="tag_article_list">
          <div class="fns-h2 flex-jus-between" style="margin-bottom:0;">
            <h2>関連記事</h2><a href="/search?model=article&query=<%= @tag['name'] %>">もっと見る</a>
          </div>
          <%= render 'tmp/list/top_articleList',{articles: @tag['articles']} %>
        </div>
      </div>
    </div>
    <% if(!@ua.include?('Mobile') && !@ua.include?('Android')) then %>
      <%= render 'tag/sidebar',
        {recomanded: @tag['recomanded']} 
      %>
	  <% end %>
  </div>
</main>
<%= render 'tmp/footer' %>