<%# タイトル等設定 %>
<% provide(:title, "国内最大級の歌詞考察サイト | music.branchwith") %>
<% provide(:description, "日本国内最大級の音楽サイト！27万曲以上の歌詞全文や、歌詞解釈、音楽ニュースまで、幅広いコンテンツを扱っています。音楽のことならmusic.branchwithで全て解決！") %>

<%#-------------------------------------------------------------------------------------------------------------------------------------------------%>

<%= render 'tmp/topheader',{s:""} %>
<div class="top_s_block">
    <div class="top_s_inner">
            <p class="head" style="color:white;">Thank you for 3,149,183 users!</p>
            <div class="bottom">
                <p style="color:white;">music.branchwithは27万曲以上の歌詞全文や、歌詞解釈、音楽ニュースまで、幅広いコンテンツを扱っている音楽サイトです。音楽のことならmusic.branchwithで全て解決！</p>
            </div>
    </div>
</div>
<div class="toprap flex-jus-center">
	<main class="topContainer flex-jus-between">
		<div class="left">
			<%= render 'tmp/side/lyrics_list' ,{lyrics: @poplyric['result'], label: '人気楽曲'}%>
		</div>
		<div class="center">
			<div class="fns-h2 flex-jus-between" style="margin-bottom:0;">
				<h2>最新記事</h2><a href="/search?model=article">もっと見る</a>
			</div>
			<%= render 'tmp/list/top_articleList',{articles: @articleDatas["result"]} %>
			<div class="fns-h2" style="margin-bottom:0;text-align:right;">
				<a href="/search?model=article">もっと見る</a>
			</div>
		</div>
		<div class="right">
            <%= render 'tmp/sns/instagram' %>
            <%= render 'tmp/sns/twitter' %>
		</div>
	</main>
</div>
<%= render 'tmp/footer' %>