<!DOCTYPE html>
<html lang="ja">
  <head>
    <% 
      if params[:query].nil? || params[:query] == "" 
        if params[:model] == 'lyric'
          title = '歌詞一覧'
        else
          title = '記事一覧'
        end
      else
        if params[:model] == 'lyric'
          title = params[:query] + 'の歌詞検索結果'
        else
          title = params[:query] + 'の記事検索結果'
        end
      end
    %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%# メタタグ %>
    <% set_meta_tags noindex: true %>
    <% set_meta_tags title: title %>
    <% set_meta_tags description: title + 'です。music.branchwithでは27万曲以上の歌詞全文や、歌詞解釈、音楽ニュースまで、幅広いコンテンツを扱っています。音楽のことならmusic.branchwithで全て解決！' %>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
